.features {
  text-align: center;
  width: 100%;
  background-color: var(--banner-background-colour);
}

.extensionList {
  display: flex;
}

.vscodeJava {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--background-colour-variant);
  padding-top: 4em;
  padding-bottom: 4em;
}

.header {
  flex: 100%;
}

.col {
  flex:45%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 2em;
}

.leftColumn {
  flex:45%;
  padding-left: 5%;
  padding-top: 2rem 0;
  margin: 50px;
  background-color: var(--background-colour-variant);
  background-clip: content-box;
}

.rightColumn {
  flex:45%;
  padding-right: 5%;
  margin: 50px;
  background-color: var(--background-colour-variant);
  background-clip: content-box;
}

.imgCol {
  flex: 40%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  display: inline-block;
}

.figCaption {
  display:block;
  max-width: 15em;
}

.imgCol a {
  color: var(--banner-font-colour) !important;
}

h2 {
  padding-top: 0.5em;
  font-weight: normal;
}