/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--banner-background-colour);
  color: var(--banner-font-colour);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  align-items: center;
  justify-content: center;
  display: inline-block;
  margin: 1em;
  text-align: center;
}

.buttons img {
  height: 1.5em;
  width: auto;
  margin-right: 10px;
  vertical-align: bottom;
}

.buttons div {
  color: black;
}